@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background: #332D2E;
	color: white;
}

/*---------ТЕХНИЧЕСКИЕ И ОБЩИЕ КЛАССЫ---------*/

._container {
	padding: 0 211px;
	max-width: 1920px;
	margin: 0 auto;
	@media (max-width: 1919px) {
		padding: 0 150px;
	}
	@media (max-width: 1599px) {
		padding: 0 110px;
	}
	@media (max-width: 1365px) {
		padding: 0 80px;
	}
	@media (max-width: 1023px) {
		padding: 0 50px;
	}
	@media (max-width: 767px) {
		padding: 0 30px;
	}
	@media (max-width: 479px) {
		padding: 0 10px;
	}
}

.content {
	&__gallery {}
	&__recent {}
	&__about-us {}
}

.title {
	font-size: 50px;
	line-height: 113.6%;
	text-align: center;
}

/*------------HEADER-------------*/

.header {
	height: 1080px;
	&__container {
		
	}
	&__back {}
	&__menu {
	}
	&__body {
		
	}
}

.back-header {
	height: 1080px;
	display: flex;
	position: absolute;
	z-index: -1;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	&__block {
		position: relative;
		display: flex;
		width: 100%;
	}
	&__brown {
		background: #332D2E;
		background: -moz-linear-gradient(100deg,  #332D2E 1%, #454041 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(100deg,  #332D2E 1%,#454041 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(100deg,  #332D2E 1%,#454041 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332D2E', endColorstr='#454041',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		flex: 0 1 840px;
		min-height: 100%;
		@media (max-width: 1023px) {
			display: none;
		}	
	}
	&__image {
		flex: 1 0 1080px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 1023px) {
			flex: 0 1 100%;
		}
	}
}
.menu-header {
	padding: 43px 0;
	&__list {
		display: flex;
		max-width: 70.3653%;
		justify-content: space-between;
	}
	&__item {
		a {
			color: white;
			font-size: 30px;
			line-height: 113.6%;
			@media (max-width: 1919px) {
				font-size: 22px;
			}
			@media (max-width: 1599px) {
				font-size: 18px;
			}
			@media (max-width: 1335px) {
				font-size: 14px;
			}	
		}
		position: relative;
		
		&::after {
			content: '';
			position: absolute;
			top: 30px;
			left: 50%;
			width: 0;
			height: 1px;
			background-color: #fbfbfb;
			transition: all .3s ease 0s;
		}
		&:hover {
			&::after {
				margin-left: -50%;
				margin-right: -50%;
				padding: 0 50%;
			}
		}
	}
}
.body-header {
	margin-top: 149px;
	@media (max-width: 1919px) {
		margin-top: 100px;
	}
	@media (max-width: 1599px) {
		margin-top: 82px;
	}
	@media (max-width: 1335px) {
		margin-top: 50px;		
	}
	color: white;
	&__title {
		font-size: 220px;
		letter-spacing: 4px;
		font-weight: 700;
		line-height: 113.6%;
		@media (max-width: 1919px) {
			font-size: 180px;
		}
		@media (max-width: 1599px) {
			font-size: 150px;
		}
		@media (max-width: 1335px) {
			font-size: 80px;	
		}
		@media (max-width: 767px) {
			font-size: 50px;
			
		}
	}
	&__subtitle {
		margin-top: -28px;
		font-size: 50px;
		line-height: 113.6%;
		margin-left: 15px;
		@media (max-width: 1919px) {
			
			margin-top: -18px;
		}
		@media (max-width: 1599px) {
			
			margin-top: -10px;
		}
		@media (max-width: 1335px) {
			font-size: 36px;
			margin-top: 0;
		}
		
	}
	&__text {
		font-size: 28px;
		line-height: 113.6%;
		margin-left: 15px;
		margin-top: 44px;
		max-width: 760px;
	
	}
	&__button {
		margin-top: 70px;
		font-size: 35px;
		line-height: 113.6%;
		a {
			color: white;
			padding: 22px 47px;
			border: 2px solid #FFFBFB;
			border-radius: 12px;
			margin-left: 61px;
		}
		@media (max-width: 767px) {
			font-size: 28px;
			a {
				padding: 18px 40px;
			}
		}
	}
}

/*------------GALLERY------------------*/

.gallery {
	margin-top: -164px;
	background: #574646;
	max-width: 1159px;
	&__container {
		margin-right: -211px;
		@media (max-width: 1919px) {
			margin-right: -150px;
		}
		@media (max-width: 1599px) {
			margin-right: -110px;
		}
		@media (max-width: 1365px) {
			margin-right: 0;
		}
		
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 37px 0;
		
		@media (max-width: 767px) {
			:nth-child(3) {
				display: none;
			}
		}
		@media (max-width: 479px) {
			:nth-child(2) {
				display: none;
			}
		}
	}
	&__block {
		flex: 0 1 178px;
		height: 90px;
		background: #413535;
		@media (min-width: 1920px) {
			&:not(:last-child) {
				margin-right: 79px;
			}	
			width: 178px;
		}
		@media (max-width: 479px) {
			margin: 0 20px;
		}
	}
	&__arrow {
		margin-right: 80px;
		width: 53px;
  		height: 23px;
  		background-color: #fff;
  		display: block;
		mask-image: url('img/Arrow.png');
		transition: all 0.5s ease 0s;
		&:hover {
			background-color: #b4a395;
		}
		img {
			
		}
		@media (max-width: 1023px) {
			margin-right: 20px;
		}
	}
}

/*------------------RECENT--------------------*/

.recent {
	padding-top: 77px;
	padding-bottom: 163px;
	@media (max-width: 1023px) {
		padding-bottom: 100px;
	}
	@media (max-width: 767px) {
		padding-bottom: 70px;
	}
	&__container {}
	&__body {

	}
	&__title {
		margin-bottom: 83px;
	}
	&__blocks {
	}
	&__block {
		&:not(:last-child) {
			margin-bottom: 83px;
		}
	}
}

.block-recent {
	background: #2D2627;
	display: flex;
	@media (max-width: 1270px) {
		flex-wrap: wrap;
	}
	&__image {
		flex: 0 0 663px;
		img {
			
		}
		@media (max-width: 1270px) {
			flex: 0 1 100%;
			order: 1;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	&__content {
		flex: 1 1 auto;
		margin: 37px 55px;
		@media (max-width: 1270px) {
			flex: 0 1 100%;
			order: 2;
		}
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__text {
		font-size: 28px;
		line-height: 113.6%;
		p {
			&:not(:last-child) {
				margin-bottom: 7px;
			}
		}
		@media (max-width: 1490px) {
			font-size: 24px;
		}
	}
	&__button {
		margin-top: 20px;
		font-size: 34px;
		line-height: 113.6%;
		padding: 19px 69px;
		border: 2px solid #767373;
		border-radius: 39px;
		max-width: 278px;
		text-align: center;
		a {
			color: #767373;
			@media (max-width: 1490px) {
				font-size: 26px;
			}
		}
		@media (max-width: 767px) {
			margin: 20px auto 0 auto;
			padding: 15px 49px;
		}
	}
}

/*-----------------ABOUT US--------------*/

.about-us {
	background: #3D3838;
	padding: 91px 0 78px 0;
	@media (max-width: 767px) {
		padding-top: 70px;
	}
	&__container {}
	&__body {

	}
	&__title {
		margin-bottom: 80px;
		@media (max-width: 1023px) {
			margin-bottom: 50px;
		}
	}
	&__content {}
	&__text {
		font-size: 34px;
		line-height: 113.6%;
		font-weight: 400;
		p {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: 1023px) {
			font-size: 28px;
		}
		@media (max-width: 767px) {
			font-size: 23px;
		}
		@media (max-width: 479px) {
			font-size: 18px;
		}
	}
	&__image {
		margin-top: 80px;
		padding: 0 80px;
		img {
			width: 100%;
			height: 100%;
		}
		@media (max-width: 1023px) {
			margin-top: 50px;
			padding: 0px;
		}
	}

}


